<!-- myfirstvis/templates/pyecharts.html -->
<!DOCTYPE html>
<html>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/js/echarts.js" ></script>
<script src="/static/js/echarts-wordcloud.js"></script>
<script src="/static/js/dark.js" ></script>
<script src="/static/js/jquery.rotate.js" ></script>
<script src="/static/js/china.js" ></script>
<link rel="stylesheet" type="text/css" href="/static/css/content.css">
<head>
    <meta charset="utf-8">
    <title>可视化图形数据展示</title>
    
     
    
</head>

<body>
	 <div>
      <div id="zq01" >
        <input id="zq02" type="submit" value="vs" />
      </div>
      <div id="zq03" >
      	<span id="zq04" ><h3>博士平均工资/元</h3><br>
        	<span id="zq004" style="float:right;margin-right:160px;">16500</span></span>
        <span id="zq05" ><h3>研究生平均工资/元</h3><br>
        	<span id="zq005" style="float:right;margin-right:160px;">31929</span></span>
        <div class="clear"></div>
        <span id="zq06" ><h3>本科平均工资/元</h3><br>
        	<span  id="zq006" style="float:right;margin-right:160px;">19102</span></span>
        <span id="zq07" ><h3>大专平均工资/元</h3><br>
        	<span id="zq007" style="float:right;margin-right:160px;">19255</span></span>
      </div>
    </div>
    <div id="zq08"></div>
    <div id="zq11">
    <div id="zq09" ></div>
    	<div id="zq10"></div>
      </div>
     <div id="zq12"></div>
     <div id="zq13"></div>
    
</body>
<script src="/static/js/content.js"></script>
<script src="/static/js/content2.js"></script>
</html>